<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All products</title>
    <link rel="stylesheet" href="/tables.css">
</head>
<body>
<div>
    <div th:if="${session.patient == null}">
        <button>
            <a href="/register">Register</a>
        </button>
        <button>
            <a  href="/login">Login</a>
        </button>

    </div>
    <div th:if="${session.patient != null}">
        <button>
        <a href="/logout">Logout</a>
        </button>
    </div>
    <div>
        <button>
            <a href="/all-products">All Products</a>
        </button>
    </div>

</div>
<h1  th:text="Welcome + ${session.patient != null ? ' '+session.patient.getUsername() : ' Guest'}"></h1>
<div th:if="${hasError}">
    <p th:text="${error}"></p>
</div>
<form action="/all-products">
<label for="text">Search</label><input type="text"  id="text" name="text">
    <button type="submit">Search</button>
</form>

<button>
<a href="/all-products/add-product">Add product</a>
</button>
<button>
    <a href="/all-products/availability">Available products in pharmacies</a>
</button>
<button>
    <a href="/aggregations/availability-in-pharmacy-by-generic">Available generics in pharmacies</a>
</button>
<button>
    <a href="/aggregations/monthly-profit">Monthly profit</a>
</button>
<button>
    <a href="/aggregations/most-sold-product-monthly">Most sold product monthly</a>
</button>
<button>
    <a href="/bills-and-orders">All payments</a>
</button>
<button>
    <a href="/prescriptions">All prescriptions</a>
</button>
<table id="table">
    <thead>
    <th>Manufacturer</th>
    <th>Brand Name</th>
    <th>Generic Name</th>
    </thead>

    <tbody>
    <tr th:each="brandedDrug: ${brandedDrugs}">
    <td th:text="${brandedDrug.getKey().getManufacturerName()}"></td>
    <td th:text="${brandedDrug.getBrandedDrugName()}"></td>
    <td th:text="${brandedDrug.getGenericName()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>