<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/tables.css">
</head>
<body>
<div>
<form action="/brandedDrugs">
<label for="quantity">Minimum quantity</label><input type="number" id="quantity" name="quantity"><br>
    <label for="priceLow">Lower bound price range</label><input type="number" id="priceLow" step="any" name="priceLow"><br>
    <label for="priceHigh">Upper bound price range</label><input type="number" id="priceHigh" step="any" name="priceHigh"><br>
    <label for="searchText">Search</label><input type="text" id="searchText" name="searchText"><br>
    <label for="genericName">Generic Name</label>
    <select name="genericName" id="genericName">
        <option>All</option>
        <option th:each="generic: ${generics}" th:text="${generic.getGeneric()}" th:value="${generic.getGeneric()}">
        </option>
    </select>
    <br>
    <button type="submit">Search</button>
</form>
</div>
<div>
    <a href="/brandedDrugs/add-product">Add</a>
</div>
<table>
    <thead>
    <th>Branded Name</th>
    <th>Manufacturer Name</th>
    <th>Generic Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Pharmacy Name</th>
    <th>Street Name</th>
    <th>Flat Number</th>
    </thead>
    <tbody>
    <tr th:each="brandedDrug: ${availableBrandedDrugs}">
        <td th:text="${brandedDrug.getKey().getBrandedDrugName()}"></td>
        <td th:text="${brandedDrug.getKey().getManufacturerName()}"></td>
        <td th:text="${brandedDrug.getKey().getGenericName()}"></td>
        <td th:text="${brandedDrug.getPrice()}"></td>
        <td th:text="${brandedDrug.getQuantity()}"></td>
        <td th:text="${brandedDrug.getKey().getPharmacyName()}"></td>
        <td th:text="${brandedDrug.getKey().getStreetName()}"></td>
        <td th:text="${brandedDrug.getKey().getFlatNumber()}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>