<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/tables.css">

</head>
<body>
<h1 th:text="${session.patient.getUsername()}+ '\'s shopping cart'"></h1>
<div th:if="${products!=null}">
<table>
    <thead>
    <th>Branded Name</th>
    <th>Manufacturer Name</th>
    <th>Generic Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Order ID</th>
    </thead>
    <tr th:each="product: ${products}">
        <td th:text="${product.getBrandedDrug().getBrandedDrugName()}"></td>
        <td th:text="${product.getOrderShoppingCartKey().getBrandedDrugKey().getManufacturerName()}"></td>
        <td th:text="${genericsMap.get(product.getOrderShoppingCartKey().getBrandedDrugKey().getGenericDrugId())}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getQuantity()}"></td>
        <td th:text="${product.getOrder().getOrderId()}"></td>
    </tr>
</table>
</div>
<h1 th:text="Total + ' ' + ${session.total != null ? session.total : 0} + ' denars'"></h1>
<form action="/shopping-cart/checkout" method="post">
    <button type="submit">Checkout</button>
</form>
</body>
</html>